body{
    padding: 100px;
}

#login-area{
    display: block;
}
.form{
    margin-top: 50px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
}
#transition-area{
    display: none;
}
.deposit{
    background-color: #ff8037;
}
.withdraw{
    background-color: #7bd0f7;
}
.balance{
    background-color: rgb(92, 255, 78);
}
.eachSection{
    margin:45px ;
    border-radius: 7px;
    height: 130px;
    
}
.eachBox{
    color: floralwhite;
    padding-left: 10%;
    padding-top: 10%;
}

.eachBox2{
    margin-top: 50px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
}